<footer>
    This page was created by: <br> <h2>Juliana Castro Marrero <3</h2>
            
    <p><u>I used the help of the following resources:</u></p>
    <ul>
        <li>W3 schools https://www.w3schools.com/Css/css_font_google.asp -- For font aid</li>
        <li>Fonts: Cherry Bomb One for header + Sour Gummy for body</li>
        <li>Palette: https://www.color-hex.com/color-palette/100396</li>
        <li>MySQL help: https://www.geeksforgeeks.org/sql/enumerator-enum-in-mysql/</li>
        <li>Recipes obtained though internet or personal recipes</li>
        <li>In general, used some guide from previous project done in Database Systems course</li>
    </ul>
</footer>