<head>
    <title>My Recipe Hub</title>
    <link rel="stylesheet" href="/theme.css">
</head>
<body>
        <header>My Recipe Hub</header>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/list">Recipe List</a>
            <a href="/mealList">Recipe List by Meals</a>
            <a href="/addRecipe">New Recipe</a>
        </div>