<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
        <div class="page-content">
            <div class="container">
                <div class="side">
                    <p class="center"><b>My Favorite Cuisines</b></p>
                    <ol>
                        <li>Peruvian</li>
                        <li>Mexican</li>
                        <li>Japanese</li>
                    </ol>
                    <p class="center"><b>My Favorite Dishes</b></p>
                    <ol>
                        <li>Ceviche</li>
                        <li>Quesadilla</li>
                        <li>Tomato Soup</li>
                        <li>Ajiaco - Colombian soup dish</li>
                        <li>Poke bowls</li>
                    </ol>
                </div>
                <div class="main">
                    <h1>About my cooking experience...</h1>
                    <p>
                        I do not have much experience. I am good at making breakfasts 
                        but I am not very good at feeding myself outside of that.
                    </p>
                    <p>
                        As a senior living by myself I have had to find ways to feed myself
                        and this website will be a good tracker to help me remember what I 
                        can actually cook and to challenge myself to make healthy meals!
                    </p>
                    <p>
                        I also chose to sort the website by protein in order to make sure 
                        I am eating a variety of different proteins throughout the weeks 
                        and not just sticking to chicken (as has happened lately and the 
                        reason why I almost became anemic during my last blood exam)
                    </p>
                </div>
            </div>
            <p class="center"><a href="/list" class="button">View Recipes by Protein</a></p>
            <p class="center"><a href="/mealList" class="button">View Recipes by Meal</a></p>
        </div>
        <%- include('../partials/foot') %>
    </body>
</html>